.schedule-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .day {
    border: 1px solid #ccc;
    padding: 1rem;
  }
  

  .assignment {
    margin-top: 0.5rem;
  }
  
  .selected-day-details {
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: #f8f9fa;
  }
  
  .selectDay{
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .save-Button , .clear-Button{
    display: block; 
    margin: 20px auto; 
    padding: 10px 20px; 
    font-size: 16px; 
    background-color: #005ec2;
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s;
  }

  .save-Button:hover , .clear-Button:hover{
    background-color: #00346b; 
  }